/* سڕینەوەی هەموو ڕێگرییە کۆنەکانی ڤایت بۆ ئەوەی ببێتە فول سکرین */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100% !important;
  max-width: 100% !important;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden; /* ڕێگری دەکات لە دروستبوونی سکرۆلی لای لایە */
  background-color: #000000; /* دڵنیابوونەوە لەوەی باکگراوندەکە ڕەشێکی شاهانەیە */
}

*, *::before, *::after {
  box-sizing: border-box;
}